<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-store</title>
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/a3/2b/19/a32b19c33d4a36e69069493a0353e531.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']">
    <nav class="w-full flex justify-between px-5 py-3">
        <h3 class="text-xl">Scatch</h3>
        <% var loggedIn = typeof loggedIn !== "undefined" ? loggedIn :true %>
        <% if(loggedIn) { %>
<div class="flex w-2/3 text-xl" ></div>
                 <a href="/shop">Shop</a>
                 <a href="/cart" >Cart</a>
                 <a href="/" >My account</a>
                 <a class="text-red-600 text-xl" href="/user/logout" >logout</a>
             </div>
        <% } %>
    </nav>